.add-tour form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-tour form input, textarea{
    width: 40%;
    margin-bottom: 10px;
    padding: 10px;
}