.tourist-gallery-section{
    margin: 100px auto;
}

.tourist-gallery-heading{
    font-size: 48px;
    font-weight: 500;
    color: #00BDBB;
    margin-bottom: 30px;
}

.tourist-gallery{
    width: 100%;
    height: 100%;
}

.tourist-gallery img{
    width: 100%;
    height: 250px;
}